[submodule "Game/Assets/SubModules/MMA"]
	path = Game/Assets/SubModules/MMA
	url = https://github.com/MMA-Architecture/mma.git
[submodule "Game/Assets/SubModules/MMA.Firebase.Firestore"]
	path = Game/Assets/SubModules/MMA.Firebase.Firestore
	url = https://github.com/MMA-Architecture/mma.firebase.firestore.git
[submodule "Game/Assets/SubModules/MMA.Firebase"]
	path = Game/Assets/SubModules/MMA.Firebase
	url = https://github.com/MMA-Architecture/mma.firebase.git
[submodule "Game/Assets/SubModules/MMA.Scenes"]
	path = Game/Assets/SubModules/MMA.Scenes
	url = https://github.com/MMA-Architecture/mma.scenes.git
[submodule "Game/Assets/SubModules/X-Common"]
	path = Game/Assets/SubModules/X-Common
	url = https://github.com/kingdox/x-common.git
[submodule "Game/Assets/SubModules/SafeAreaFitter"]
	path = Game/Assets/SubModules/SafeAreaFitter
	url = https://gist.github.com/kingdox/2fa7e8af15c154b668865e979a03e70f
